* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

.main-bg {
    height: 100vh;
    background: no-repeat, cover, rgba(0, 0, 0, .4), url("../Images/Background.jpg");
    background-image: linear-gradient(10deg, rgba(0, 0, 0, .9), transparent 60%, rgba(0, 0, 0, 1)), url("../Images/Background.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.about-bg {
    height: 100vh;
    background-image: url(../Images/backgroundAbout.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.products-bg {
    background: url(../Images/products.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;
}

.LineBottom {
    border-bottom: 10px solid rgb(55, 54, 54);
}

.primary-color {
    color: aliceblue;
}

.primary-bg {
    background-color: black;
}

.secondary-color {
    color: black;
}

.secondary-bg {
    color: aliceblue;
}

.xlg-text {
    font-size: 5rem;
}

.xmd-text {
    font-size: 2rem;
}

.md-text {
    font-size: 1.5rem;
}

.sm-text {
    font-size: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-col2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-col4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.m20-TB {
    margin: 20px auto;
}

.m50-TB {
    margin: 50px auto;
}

.p50-RL {
    padding: 0 20px;
}

.p50-All {
    padding: 50px;
}

.primary-btn {
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    width: 70%;
    padding: 10px 0;
    margin: 0 auto;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}